footer{
    border: 1px solid #000;
    padding: 3rem;
    margin: 2rem 0 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer p{
    font-weight: 500;
    max-width: 600;
    margin-right: 0.5rem;
}
@media (max-width: 576px) {
    footer p {
      font-size: 0.8rem;
    }
  }